requests
requests[socks] 
python-telegram-bot 
bs4 
user_agent 
ping3 
tcping
youtube_dl 
requests_toolbelt 
telethon 
tenacity
pyrogram
tgcrypto
aiohttp
yarl
gunicorn
Flask==2.3.3
gunicorn==21.2.0
pyTelegramBotAPI
requests
beautifulsoup4
werkzeug==3.0.1
telebot
yt-dlp[default]>=2024.03.10
