requests
requests[socks] 
python-telegram-bot 
bs4 
user_agent 
ping3 
tcping
youtube_dl 
requests_toolbelt  
tenacity
pyrogram
tgcrypto
aiohttp
yarl
gunicorn
gunicorn==21.2.0
requests
beautifulsoup4
werkzeug==3.0.1
telebot
yt-dlp[default]>=2024.03.10
pyTelegramBotAPI==4.15.4
telethon==1.35.0
flask==3.0.2
